@import "@src/styles/styleVariables.scss";

.welcome {
  padding: 5px 5px;

  h1 {
    font-size: 3.2em;
    color: $primary-color;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;

    span {
      display: block;
    }
  }

  p {
    padding-left: 20rem;
    padding-right: 20rem;
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-align: center;
  }

  .welcome-image {
    display: flex;
    justify-content: center;

    img {
      margin: 30px 10px;
      width: 440px;
      height: 500px;
      border-radius: 60px;
    }
  }
}
.story,
.quality {
  padding: 50px 20px;

  h2 {
    font-size: 3.2em;
    color: $primary-color;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
  }

  p {
    padding-left: 10rem;
    padding-right: 10rem;
    font-size: 1.5rem;
    text-align: center;
  }
}

.banner-product {
  display: flex;
  align-items: center;
  background-color: $banner-color;
  color: $banner-text;
  flex-wrap: wrap;
  margin-top: 4rem;

  .banner-product-image {
    flex: 1;
    height: 500px;
    max-width: 580px;
    border-bottom-right-radius: 350px;
    border-top-right-radius: 350px;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .banner-product-content {
    flex: 1;
    max-width: 650px;
    margin: 2.5rem;
    color: $banner-text;

    h2 {
      font-size: 2.8rem;
      margin-bottom: 2.5rem;
      font-weight: 700;
    }

    p {
      font-size: 1.3rem;
      line-height: 1.7;
      color: $banner-text;
    }
  }
}

.bottom-banner-section {
  padding-top: 7rem;
  padding-bottom: 4rem;
  display: flex;
  gap: 4.5rem;
  justify-content: center;
  flex-wrap: wrap;
}
