$bg-color: #fdf9ee;
$primary-color: #677e53;
$text-white: #ffffff;
$icon-hover: #dcdcdc;
$logo-color: #464542;
$banner-color: #c4b494;
$banner-text: #fdf9ee;
$navbar-color: #2d3748;
$header-color: #fdf9ee;
$dropdown-color: #555;
$paragraph-color: #222;
$carousel-text: #7c6f60;
$border-color: #ccc;
$text-black: #000000;
$productcard-color: #fff;
$info-color: #fdc427;
$warning: rgb(196, 76, 76);
$productdetail-color: #333;
$price-color: #141212;
$total-color: #444;
$progress-background: #eee;
