@import "@src/styles/styleVariables.scss";

.logo {
  font-size: 2.9rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-family: "Katari", serif;
  color: $logo-color;
}

@media (max-width: 900px) {
  .logo {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .logo {
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
  }
}
