@import "@src/styles/styleVariables.scss";

.utility-section {
  display: flex;
  gap: 1.75rem;
  align-items: center;

  .user-name {
  font-weight: bold;
  color: $primary-color;
}

  .icon {
    width: 26px;
    height: 26px;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
}
