@use "sass:color";
@use "@src/styles/styleVariables.scss" as *;

.login-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-modal {
  background: $bg-color;
  padding: 2rem;
  border-radius: 8px;
  width: 300px;
  position: relative;

  h2 {
    font-weight: 700;
    text-align: center;
    color: $primary-color;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 1rem;
      padding: 0.5rem;
      border: 1px solid $border-color;
      border-radius: 4px;
      width: 100%;
    }

    button {
      background-color: $primary-color;
      color: $text-white;
      border: none;
      padding: 0.6rem;
      margin-bottom: 5%;
      cursor: pointer;
      transition: background 0.2s;
    }
    button:hover {
      background-color: color.adjust($primary-color, $lightness: -10%);
    }
  }

  .toggle-auth-text {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: $paragraph-color;
  }
  .toggle-auth {
    color: $primary-color;
    cursor: pointer;
    transition: color 0.2s;
  }
  .toggle-auth:hover {
    color: color.adjust($primary-color, $lightness: -15%);
    text-decoration: underline;
  }

  .error {
    color: $warning;
    font-size: 0.9rem;
    margin-top: -0.8rem;
    margin-bottom: 0.7rem;
    padding-left: 2px;
    font-weight: 500;
    letter-spacing: 0.01em;
    transition: color 0.2s;
  }

  .close-btn {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  .forgot-password-link {
    text-align: right;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    span {
      color: $primary-color;
      cursor: pointer;
      text-decoration: underline;
      font-size: 0.95rem;
      transition: color 0.2s;
      &:hover {
        color: color.adjust($primary-color, $lightness: -15%);
        text-decoration: underline;
      }
    }
  }
}

.Toastify__toast--success .Toastify__toast-icon svg {
  fill: $primary-color;
  stroke: $primary-color;
}

.Toastify__toast--success .Toastify__progress-bar {
  background-color: $primary-color;
}

.Toastify__toast--info .Toastify__toast-icon svg {
  fill: $primary-color;
  stroke: $primary-color;
}

.Toastify__toast--info .Toastify__progress-bar {
  background-color: $primary-color;
}

.Toastify__toast--error .Toastify__toast-icon svg {
  fill: $warning;
  stroke: $warning;
}

.Toastify__toast--error .Toastify__progress-bar {
  background-color: $warning;
}
